# Tijdelijke output
facts_output.txt

# Retry bestanden van Ansible
*.retry

# Logbestanden
*.log

# Editorbestanden
*.swp
*.swo
*.bak

# VS Code instellingen (optioneel)
.vscode/

# Python cache bestanden (als je ooit Python scripts gebruikt)
__pycache__/
*.pyc
