# Tijdelijke Ansible output
facts_output.txt

# Gevoelige Ansible variabelen
host_vars/localhost.yml

# Negeer plaintext wachtwoorden of secrets
*.txt
*.key
*.pem
*.env

# Retry bestanden van Ansible
*.retry

# Logbestanden
*.log

# Editor- en systeembestanden
.DS_Store
*.sw?
*.bak

# VS Code instellingen (optioneel)
.vscode/

# Python cache bestanden (als je ooit Python scripts gebruikt)
__pycache__/
*.pyc
